@model WebApplication.Models.DNHACUNGCAP
<form>
    <div class="form-group">
        <label for="ipName">Nhà cung cấp</label>
        <input type="text" name="NAME" class="form-control" id="ipName" value="@Model.NAME">
    </div>
    <div class="form-group">
        <label for="ipDienThoai">Điện thoại</label>
        <input type="text" name="DIENTHOAI" class="form-control" id="ipDienThoai" value="@Model.DIENTHOAI">
    </div>
    <div class="form-group">
        <label for="ipDiaChi">Địa chỉ</label>
        <input type="text" name="DIACHI" class="form-control" id="ipDiaChi" value="@Model.DIACHI">
    </div>
    <div class="form-group">
        <label for="ipEmail">Email</label>
        <input type="text" name="EMAIL" class="form-control" id="ipEmail" value="@Model.EMAIL">
    </div>
</form>