@model List<WebApplication.Models.DMATHANG>
@{
    ViewBag.Title = "Danh sách mặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-end">
    <div class="form-group">
        <input type="text" class="form-control ipSearch" placeholder="Tìm kiếm..." style="margin-right: 88px;">
    </div>
</div>
<div class="row">
    <div class="col-2">
        <table class="table table-hover tvMain">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nhóm hàng</th>
                </tr>
            </thead>
            <tbody>
                <tr data-id="TatCa">
                    <td>Tất cả</td>
                </tr>
                @foreach (var item in ViewBag.nhomHangs)
                {
                    <tr data-id="@item.ID">
                        <td>@item.NAME</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-10 divMatHang">
        @{
            Html.RenderAction("Table", "MatHang", new { page = 1, nhomId = "", s = "", itemCart = false });
        }
    </div>
</div>