@{
    ViewBag.Title = "Quản trị hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Đồ án tốt nghiệp</h1>
    @*<h2></h2>*@
    <p class="lead">Giảng viên hướng dẫn: Th.s Đinh Công Tùng</p>
    <p class="lead">Sinh viên thực hiện: Nguyễn Ngọc Dương</p>
</div>