@{
    ViewBag.Title = "Quản trị hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Đồ án tốt nghiệp</h1>
    <h2>Xây dựng website và app bán hàng cho hệ thống TokyoLife</h2>
    <p class="lead">Sinh viên thực hiện: Nguyễn Ngọc Dương</p>
    <p class="lead">Giảng viên hướng dẫn: sss</p>
</div>