@model WebApplication.Models.DTHUONGHIEU
<form>
    <div class="form-group">
        <label for="ipName">Thương hiệu</label>
        <input type="text" name="NAME" class="form-control" id="ipName" placeholder="Nhập tên thương hiệu" value="@Model.NAME">
    </div>
</form>