@model WebApplication.Models.DTINTUC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn muốn xóa bài viết đang chọn?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.Raw(Model.NOIDUNG);
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Danh sách tin tức", "Index")
        </div>
    }
</div>
